

total : {{fitlerResult.length}}
<div class="row">
  <div class="col-4">
    <input type="text" class="form-control" placeholder="search" #filterBox (keyup)="choseFilterValue(filterBox.value)">
  </div>
  <div class="col-3">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{filterField}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
        <button class="dropdown-item" *ngFor="let filterFieldsValue of filterFieldsValues" (click)="choseFilterField(filterFieldsValue)">
          {{filterFieldsValue}}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row result-row">
  <div class="col-12">
    <ul class="list-inline">
      <li  *ngFor="let currecy of currenciesPaged; index as ir"
           class="list-inline-item  list-inline-item-currency"
           routerLink="/currency/{{currecy.id}}">
        ID: {{currecy.id}} Type: {{currecy.type}} Symbol: {{currecy.attributes.symbol}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{pageSize}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
        <button class="dropdown-item" *ngFor="let pageSize of pageSizeValues" (click)="chosePageSize(pageSize)">
          {{pageSize}}
        </button>
      </div>
    </div>
  </div>
  <div class="col-6">
      <ngb-pagination [collectionSize]="fitlerResult.length" [(page)]="currentPage" [maxSize]="maxSize" [pageSize]="pageSize" (pageChange)="changePage($event)" [boundaryLinks]="true" [directionLinks]="true"></ngb-pagination>
  </div>
</div>
