.list-inline-item-currency {

  border: 1px solid;

  @media (min-width:320px)  {
    width: 180px;
    font-size: 0.55rem;
  }
  @media (min-width:481px)  {
    width: 120px;
    font-size: 0.55rem;
  }
  @media (min-width:641px)  {
    width: 175px;
    font-size: 0.50rem;
  }
  @media (min-width:961px)  {
    width: 240px;
    font-size: 0.65rem;
  }
  @media (min-width:1025px) {
    width: 130px;
    font-size: 0.55rem;
  }

  @media (min-width:1281px) {
    width: 243px;
    font-size: 0.75rem;
  }

}

.result-row {
  margin-top: 2%;
  margin-bottom: 1%;
}
